<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    
 <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
            <div class="container">
                <a class="navbar-brand mr-lg-5" href="<%= events_path %>">
                    <img alt="Image placeholder" src="./assets/img/icons/dusk/png/binder.png" style="height: 50px;">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-main-collapse">
                    <ul class="navbar-nav align-items-lg-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="<%= new_event_path%>">Create Event</a>
                        </li>
                        <% if user_signed_in? %>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= user_path(current_user.id) %>">My Profile</a>
                            </li>
                            <li class="nav-item">
                             <%= link_to "Sign out", destroy_user_session_path, method: :delete , class: "nav-link"%>
                            </li>
                        <% else %>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
                            </li>
                            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="<%= new_user_session_path %>" target="_blank">Sign In</a>
                            </li>
                             </ul>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>



    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

    

  </body>
</html>
